.middle {
    min-height: 31.25rem;
    max-height: 100vh;
    padding: 0;
    padding-top: 3rem;
    background-color: darkgray;
    border-left: 2px solid #e6e6e6;
    border-right: 2px solid #e6e6e6;
    overflow-y: scroll;


}

.middle::-webkit-scrollbar {
    display: none;
}